.producer-orders-page {
  padding-top: 38px;
  min-height: 520px;

  h2 {
    font-size: 2.3rem;
  }

  .badge-success,
  .badge-warning,
  .badge-primary {
    background: #5d6957;
    color: #fff !important;
  }
}


