<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="mb-3">Sign up</h1>
            </div>

            <app-text-input [formControl]="$any(registerForm.controls['displayName'])" [label]="'Display name'"></app-text-input>
            <app-text-input [formControl]="$any(registerForm.controls['email'])" [label]="'Email address'"></app-text-input>
            
            <!-- SELECTOR ROL -->
            <div class="form-group mb-3">
                <label for="role">What role will you have?</label>
                <select class="form-select mt-2" formControlName="role">
                    <option *ngFor="let role of roles" [value]="role.value">{{role.display}}</option>
                </select>
            </div>

            <!-- NUME FIRMĂ - Apare doar pentru producători -->
            <app-text-input 
                *ngIf="registerForm.get('role')?.value?.includes('Producer')"
                [formControl]="$any(registerForm.controls['companyName'])" 
                [label]="'Company / Farm Name'">
            </app-text-input>

            <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'" [type]="'password'"></app-text-input>

            <ul class="text-danger list-unstyled" *ngIf="errors">
                <li *ngFor="let error of errors">{{error}}</li>
            </ul>

            <div class="d-grid">
                <button [disabled]="registerForm.invalid" class="btn btn-lg btn-primary mt-3" type="submit">Sign up</button>
            </div>
        </form>
    </div>
</div>
