ngx-gallery {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff; // Un fundal alb curat
}

::ng-deep ngx-gallery {
  .ngx-gallery-image {
    background-size: cover !important;
    background-position: center !important;
  }

  .ngx-gallery-thumbnail {
    background-size: cover !important;
    background-position: center !important;
  }
}