<div class="container">
    <div class="row" *ngIf="product">
        
        <!-- Partea Stângă (Galeria) -->
        <div class="col-6">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
        </div>
        
        <!-- Partea Dreaptă (Logica de coș existentă) -->
        <div class="col-6 mt-5">
            <h2>{{product.name}}</h2>
            <p style="font-size: 2em;">{{product.price | currency}}</p>

            <h5 class="text-primary mb-3" *ngIf="quantityInBasket > 0">You have {{quantityInBasket}} of this in basket
            </h5>
            <div class="d-flex justify-content-start align-center">
                <i (click)="decrementQuantity()" class="fa fa-minus-circle text-warning me-2"
                    style="cursor: pointer; font-size: 2em;"></i>
                <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>
                <i (click)="incrementQuantity()" class="fa fa-plus-circle text-warning ms-2"
                    style="cursor: pointer; font-size: 2em;"></i>
                <button class="btn btn-outline-secondary ms-4" (click)="updateBasket()"
                    [disabled]="quantity === quantityInBasket ">{{buttonText}}</button>

            </div>
            <div class="row mt-4">
                <h4>Description</h4>
                <p>{{product.description}}</p>
                <div class="d-flex align-items-center mb-4" *ngIf="product">
    <div class="badge bg-light text-dark border p-2 fs-6">
        <i class="fa fa-store-alt text-primary me-2"></i>
        Vândut și livrat de: 
        <span class="fw-bold text-primary ms-1">{{ product.producerName || 'Magazinul Nostru' }}</span>
    </div>
</div>
            </div>
        </div>
    </div>
</div>