<ng-container *ngIf="$any(bcService.breadcrumbs$ | async) as breadcrumbs">
    <section
        *ngIf="breadcrumbs.length > 0 && breadcrumbs[breadcrumbs.length-1].label !== 'Home'"
        class="mb-4 section-header-band"
        [class.products-hero]="isProductsHeader(breadcrumbs)">
                <ng-template #standardHeader>
                    <ng-container *ngTemplateOutlet="standardHeader"></ng-container>
            <div class="container section-header-band__content">
            <div class="row d-flex align-items-center">
                <div class="col-9">
                    <h1>{{getDisplayLabel(breadcrumbs) | titlecase}}</h1>
                </div>
                <div class="col-3">
                    <xng-breadcrumb>
                        <ng-container *xngBreadcrumbItem="let breadcrumb">
                            {{breadcrumb | titlecase}}
                        </ng-container>
                    </xng-breadcrumb>
                </div>
            </div>
            </div>
        </ng-template>
    </section>
</ng-container>
