<ng-container *ngIf="(groupedBasket$ | async) as groupedBasket">
    
    <div class="card mb-4 shadow-sm border-0" *ngFor="let group of groupedBasket">
        
        <div class="card-header bg-light border-bottom-0 pt-3 pb-2">
            <h5 class="mb-0" style="font-size: 1.1em;">
                <i class="fa fa-store text-warning mr-2"></i> 
                Vândut și livrat de: <span class="text-primary font-weight-bold">{{group.producerName}}</span>
            </h5>
        </div>

        <div class="table-responsive">
            <table class="table mb-0">
                <thead class="bg-light text-uppercase" [class.bg-light]="isBasket">
                    <tr>
                        <th><div class="py-2">Product</div></th>
                        <th><div class="py-2">Price</div></th>
                        <th [class.text-center]="!isBasket"><div class="py-2">Quantity</div></th>
                        <th><div class="py-2">Total</div></th>
                        <th *ngIf="isBasket"><div class="py-2">Remove</div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of group.items">
                        <th scope="row">
                            <div class="p-2 d-flex align-items-center">
                                <img src="{{item.pictureUrl}}" alt="{{item.productName}}" class="img-fluid" style="max-height: 50px;">
                                <div class="ml-3 d-inline-block align-middle">
                                    <h5 class="mb-0">
                                        <a routerLink="/shop/{{item.id}}" class="text-dark">{{item.productName}}</a>
                                    </h5>
                                    <span class="text-muted font-weight-normal font-italic d-block">Type: {{item.type}}</span>
                                </div>
                            </div>
                        </th>
                        <td class="align-middle"><strong>{{item.price | currency}}</strong></td>
                        <td class="align-middle">
                            <div class="d-flex align-items-center" [class.justify-content-center]="!isBasket">
                                <i *ngIf="isBasket" (click)="removeBasketItem(item.id, 1)" class="fa fa-minus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em;"></i>
                                <span class="font-weight-bold" style="font-size: 1.2em;">{{item.quantity}}</span>
                                <i *ngIf="isBasket" (click)="addBasketItem(item)" class="fa fa-plus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em;"></i>
                            </div>
                        </td>
                        <td class="align-middle">
                            <strong>{{item.price * item.quantity | currency}}</strong>
                        </td>
                        <td class="align-middle" *ngIf="isBasket">
                            <a class="text-danger">
                                <i (click)="removeBasketItem(item.id, item.quantity)" class="fa fa-trash text-warning mr-2" style="cursor: pointer; font-size: 2em;"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</ng-container>