<article class="shop-product-card" *ngIf="product">
  <div
    class="product-image-frame"
    [routerLink]="['/shop', product.id]">

    <img
      [src]="product.pictureUrl"
      [alt]="product.name"
    >

    <div class="product-hover">
      <span>View product</span>
    </div>
  </div>

  <div class="product-info">
    <p class="product-brand" *ngIf="product.productBrand">
      {{ product.productBrand }}
    </p>

    <h3>
      {{ product.name }}
    </h3>

    <p class="product-type" *ngIf="product.productType">
      {{ product.productType }}
    </p>

    <div class="product-bottom">
      <span class="product-price">
        {{ product.price | currency }}
      </span>

      <div class="product-actions">
        <button
          type="button"
          title="Add to basket"
          (click)="addItemToBasket()">
          <i class="fa fa-shopping-cart"></i>
        </button>

        <button
          type="button"
          [title]="isFavorite ? 'Already in favorites' : 'Add to favorites'"
          [class.is-favorite]="isFavorite"
          [disabled]="isFavorite"
          (click)="addLike()">
          <i class="fa fa-heart"></i>
        </button>
      </div>
    </div>
  </div>
</article>
